<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>배 등록 리스트</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>등록된 배 리스트</h2>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>이름</th>
            <th>지역</th>
            <th>주 유형</th>
            <th>서브 유형</th>
            <th>최대 인원</th>
            <th>최소 인원</th>
            <th>배 무게</th>
            <th>배 주소</th>
            <th>배 설명</th>
            <th>이벤트</th>
            <th>공지사항</th>
            <th>등록일</th>
            <th>예약</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productList}"
            th:onclick="|location.href='@{/fishingReport/list/{id=${product.prodId})}'|"
            style="cursor:pointer">
            <td th:text="${product.prodName}">배 이름</td>
            <td th:text="${product.prodRegion}">지역</td>
            <td th:text="${product.mainType}">바다/민물 유형</td>
            <td th:text="${product.subType}">서브 유형</td>
            <td th:text="${product.maxPerson}">최대 인원</td>
            <td th:text="${product.minPerson}">최소 인원</td>
            <td th:text="${product.weight}">배 무게</td>
            <td th:text="${product.prodAddress}">배 주소</td>
            <td th:text="${product.prodDescription}">배 설명</td>
            <td th:text="${product.prodEvent}">이벤트</td>
            <td th:text="${product.prodNotice}">공지사항</td>
            <td th:text="${product.createdAt}">등록일</td>
            <td>
                <button type="button">예약</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
