<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>이벤트 목록</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <style>
        .active {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>
<body>

<h1>이벤트 목록</h1>

<div th:replace="~{fragments/paging_options :: sizeSelector('/event', ${size}, ${pagination.currentPage})}"></div>


<table border="1">
    <thead>
    <tr>
        <th>TOP</th>
        <th>번호</th>
        <th>썸네일</th>
        <th>제목</th>
        <th>기간</th>
        <th>상태</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e, iterStat : ${eventPage.content}">
        <td th:text="${e.isTop ? '✔' : ''}">✔</td>
        <td th:text="${iterStat.count}">1</td>

        <td th:if="${e.thumbnailUrl != null}">
            <img th:src="${e.thumbnailUrl}" alt="썸네일" width="100">
        </td>

        <td th:if="${e.thumbnailUrl == null}"></td>

        <td>
            <a th:href="@{'/event/' + ${e.eventId} + '?page=' + ${pagination.currentPage} + '&size=' + ${size}}"
               th:text="${e.title}">이벤트 제목</a>
        </td>
        <td th:text="${(e.startAt == null and e.endAt == null) ? '상시 이벤트' : e.startAt + ' ~ ' + e.endAt}">기간</td>
        <td th:text="${e.eventStatus.korean}">진행중</td>
    </tr>
    </tbody>
</table>
<a th:href="@{'/event/create?page=' + ${pagination.currentPage} + '&size=' + ${size}}">이벤트 작성</a>

<div th:replace="~{fragments/pagination :: pagination(${pagination}, ${size})}"></div>

</body>
</html>