<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>헤더</title>

</head>


<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg fs-5 fw-bold bg-light">
        <div class="container">
            <a class="navbar-brand no-padding" href="/">
                <img src="/img/fish.png" alt="홈" style="max-width: 50px">
            </a>

            <div class="collapse navbar-collapse d-flex align-items-center justify-content-center" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link" th:href="@{/menu1}">메뉴1</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">sub_menu</a></li>
                            <li><a class="dropdown-item" href="#">sub_menu</a></li>
                            <li><a class="dropdown-item" href="#">sub_menu</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" th:href="@{/menu2}">메뉴2</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">sub_menu</a></li>
                            <li><a class="dropdown-item" href="#">sub_menu</a></li>
                            <li><a class="dropdown-item" href="#">sub_menu</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" th:href="@{/menu3}">메뉴3</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">sub_menu</a></li>
                            <li><a class="dropdown-item" href="#">sub_menu</a></li>
                            <li><a class="dropdown-item" href="#">sub_menu</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" th:href="@{/menu4}">메뉴4</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">sub_menu</a></li>
                            <li><a class="dropdown-item" href="#">sub_menu</a></li>
                            <li><a class="dropdown-item" href="#">sub_menu</a></li>
                        </ul>
                    </li>


                </ul>
            </div>


            <button class="btn btn-light me-3">로그인</button>
            <button class="btn btn-light">마이페이지</button>

        </div>
    </nav>
</header>

</body>
</html>