<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>헤더</title>
</head>
<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg fs-5 fw-bold bg-light">
        <div class="container">
            <a class="navbar-brand no-padding" href="/">
                <img src="/img/fish.png" alt="홈" style="width: 10%; height: 10%;">
            </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse d-flex align-items-center justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/home">홈</a></li>
                    <li class="nav-item"><a class="nav-link" href="/center">조황센터</a></li>
                    <li class="nav-item"><a class="nav-link" href="/partner">파트너스</a></li>
                    <li class="nav-item"><a class="nav-link" href="/notice">공지사항</a></li>
                </ul>
            </div>



            <button class="btn btn-light me-3">로그인 버튼</button>
            <button class="btn btn-light">마이페이지</button>

        </div>
    </nav>
</header>

</body>
</html>