<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>


</head>

<body>
<main th:fragment="main">

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-sm ">
                    <div class="card-header bg-light text-dark">
                        <h4>실시간 선상낚시 예약</h4>
                    </div>
                    <div class="card-body d-flex flex-column justify-content-center align-items-start gap-2"
                         style="height: 40vh; overflow: auto">
                        <div class="d-flex flex-column gap-3 ms-5 fs-5">
                            <div>날짜 : <span id="selected-date"></span></div>
                            <div>인원 : <span id="selected-people"></span></div>
                            <div>지역 : <span id="selected-region"></span></div>
                            <div>어종 : <span id="selected-fish"></span></div>
                        </div>
                        <div class="align-self-center btn btn-light w-100 mt-3 fs-5"
                             data-bs-toggle="modal" data-bs-target="#searchModal">
                            세부항목 변경
                        </div>
                        <a href="#" id="search-btn"
                           class="align-self-center btn btn-primary w-100 fs-5">
                            검색하기</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-light text-dark">
                        <h4>공지사항</h4>
                    </div>
                    <div class="card-body d-flex flex-column justify-content-center align-items-center"
                         style="height: 40vh;">
                        <p>공지사항</p>
                        <a th:href="@{/notice}">
                            공지사항 내용
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------------추천 선사------------------------------ -->
    <div class="container mt-3">

        <div class="card shadow-sm">
            <div class="card-header bg-light text-dark">
                <h4>추천 선사</h4>
            </div>

            <div class="card-body">
                <div class="pb-10 d-flex justify-content-center gap-3 my-2">
                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황1</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황2</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황3</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황4</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>
                </div>


                <div class="pb-10 d-flex justify-content-center gap-3 my-3">
                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황5</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황6</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황7</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황8</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ---------------------------최근 인기 조항--------------------------------- -->
    <div class="container mt-3">
        <div class="card shadow-sm">
            <div class="card-header bg-light text-dark">
                <h4>최근 인기 조항</h4>
            </div>

            <div class="card-body">
                <div class="pb-10 d-flex justify-content-center gap-3 my-2">
                    <div class="card shadow-sm" style="width:15%; height: 40vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>인기 조황1</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>인기 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:15%; height: 40vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>인기 조황2</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>인기 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:15%; height: 40vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>인기 조황3</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>인기 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:15%; height: 40vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>인기 조황4</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>인기 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:15%; height: 40vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>인기 조황5</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>인기 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:15%; height: 40vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>인기 조황6</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>인기 조황 이미지.jpg</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- 모달 페이지----------------------------------------------->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <form action="/" method="get" onsubmit="updateSpan();">
                    <div class="modal-header">
                        <h5 class="modal-title">세부항목 변경</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <label>날짜:</label>
                        <input type="date" class="form-control" name="date" id="modal-date"
                               th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">

                        <label>인원:</label>
                        <input type="number" class="form-control" name="people" id="modal-people"
                               min="1" step="1" value="1">

                        <label>지역:</label>
                        <select class="form-control" name="region" id="modal-region">
                            <option value="전체">전체</option>
                            <option th:each="region : ${regions}"
                                    th:text="${region.korean}">
                            </option>
                        </select>

                        <label>어종:</label>
                        <select class="form-control" name="fishType" id="modal-fishType">
                            <option value="전체">전체</option>
                            <option th:each="fish : ${fishSpecies}"
                                    th:text="${fish.fsName}">
                            </option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary w-100"
                                onclick="updateSpan()" data-bs-dismiss="modal">적용
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script src="/js/index_reservation.js"></script>
</main>


</body>
</html>


