<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>

</head>

<body>
<main th:fragment="main">

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-sm ">
                    <div class="card-header bg-light text-dark">
                        <h4>예약</h4>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center"
                         style="height: 40vh;">
                        <p>예약 시스템 UI</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-light text-dark">
                        <h4>공지사항</h4>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center"
                         style="height: 40vh;">
                        <p>공지사항 내용</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- --------------추천 선사------------------------------ -->
    <div class="container mt-3">

        <div class="card shadow-sm">
            <div class="card-header bg-light text-dark">
                <h4>추천 선사</h4>
            </div>

            <div class="card-body">
                <div class="pb-10 d-flex justify-content-center gap-3 my-2">
                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황1</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황2</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황3</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황4</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>
                </div>


                <div class="pb-10 d-flex justify-content-center gap-3 my-3">
                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황5</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황6</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황7</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:25%; height: 20vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>추천 조황8</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>추천 조황 이미지.jpg</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ----------------최근 인기 조항--------------------------------- -->
        <div class="card shadow-sm">
            <div class="card-header bg-light text-dark">
                <h4>최근 인기 조항</h4>
            </div>

            <div class="card-body">
                <div class="pb-10 d-flex justify-content-center gap-3 my-2">
                    <div class="card shadow-sm" style="width:15%; height: 40vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>인기 조황1</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>인기 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:15%; height: 40vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>인기 조황2</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>인기 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:15%; height: 40vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>인기 조황3</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>인기 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:15%; height: 40vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>인기 조황4</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>인기 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:15%; height: 40vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>인기 조황5</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>인기 조황 이미지.jpg</p>
                        </div>
                    </div>

                    <div class="card shadow-sm" style="width:15%; height: 40vh;">
                        <div class="card-header bg-light text-dark text-center">
                            <h4>인기 조황6</h4>
                        </div>
                        <div class="card-body pb-10 d-flex justify-content-center align-items-center">
                            <p>인기 조황 이미지.jpg</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

</main>
</body>
</html>