html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    min-height: 1; /* 화면 높이에서 푸터 빼고 채움 */
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 100;
}
